@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("img/seed.jpg");
    background-size: cover;
}
header{
    position: fixed;
    top: 5px;
    left: 5px;
    text-align: start;
    z-index: 2;
}
header button{
    width: 60px;
    height: 60px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(133, 49, 49, 0.774);
    border: .3em solid whitesmoke;
}
header button:hover{
    cursor: pointer;
}
.container
{
    position: relative;
    width: 1100vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    margin-top: 20px;
}
.box
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 510px;
    margin: 20px;
    background: #121e27cc;
    border-radius: 10px;
}
.imageContainer
{
    width: 100%;
    height: 40%;
}
.version
{
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    width: 300px;
    border-radius: 5px;
}
p
{
    color: #fff;
    margin-left: 10px;

}
.container .box .content
{
    height: 100%;
    width: 100%;
    background-color: #121e27cc;
    border-radius: 20px;
    text-align: center;
}
.container .box .content h5
{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: xx-large;
    color: white;
    text-shadow: 2px 2px 2px rgba(133, 49, 49, 0.774);
}

a{
    color: white;
    text-decoration: none;
}

.btn-primary
{
 background: rgba(133, 49, 49, 0.774);
 color: white;
 border: 1px solid white;
 padding: 10px;
 border-radius: 5px;
 box-shadow: 3px 0px 10px gray;
}
.wordContainer
{
    padding: 25px;
    text-align: start;
    box-sizing: border-box;
}
.btn-primary:hover{
    cursor: pointer;
}

@media (max-width: 1050px)
{
    .container
{
    justify-content: center;
}
}



