*{
    margin: 0;
    padding: 0;
}
body {  /* diseño general para todo el html */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: auto;
}

a button{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    left: 5px;
}
.animation-area { /* diseño para la clase animation-area */
    background: linear-gradient(to left, #8942a8, #ba382f);/* colores de fondo */
    width: 100%; /* ancho que cubra 100% de la pagina */
    height: 100vh;/* alto que cubra 100% de la pagina */
    text-align: center;/* alinea los textos en el centro */
}
.box-area{ /* diseño para la clase box-area */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* ancho que cubra 100% de la pagina */
    height: 100vh;/* alto que cubra 100% de la pagina */
    overflow: hidden; /*esconde el contendio que sobre*/
}
.box-area li{ /* diseño para los 'li' en la clase box-area */
    position: absolute;
    display: block; 
    list-style: none;
    width: 25pc; /*25 de ancho para crear dos lados de el cuadrado */
    height: 25px;/*25 de alto para crear otros dos lados de el cuadrado */
    background: rgba(255, 255, 255, 0.2); /*color gris*/
    animation: animate 20s linear infinite; /*haver rotar el cuadro*/
    bottom: -30vh;
}
.box-area li:nth-child(1){/*diseño para primer cuadrado*/
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.box-area li:nth-child(2){/*diseño para segundo cuadrado*/
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}
.box-area li:nth-child(3){/*diseño para tercer cuadrado*/
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 1.5s;
    animation-duration: 5.5s;
}
.box-area li:nth-child(4){/*diseño para cuarto cuadrado*/
    left: 70%;
    width: 150px;
    height: 150px;
    animation-delay: 5s;
    animation-duration: 15s;
}
.box-area li:nth-child(5){/*diseño para quinto cuadrado*/
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}
.box-area li:nth-child(6){/*diseño para sexto cuadrado*/
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}
.box-area li:nth-child(7){/*diseño para septimo cuadrado*/
    left: 45%;
    width: 70px;
    height: 70px;
    animation-delay: 8s;
    animation-duration: 5s;
}
.box-area li:nth-child(8){/*diseño para octavo cuadrado*/
    left: 5%;
    width: 50px;
    height: 50px;
    animation-delay: 25s;
}
.box-area li:nth-child(9){/*diseño para noveno cuadrado*/
    left: 45%;
    width: 70px;
    height: 70px;
    animation-delay: 5s;
    animation-duration: 15s;
}
.box-area li:nth-child(10){/*diseño para noveno cuadrado*/
    left: 10%;
    width: 10px;
    height: 10px;
    animation-delay: 10s;
    animation-duration: 10s;
}
.box-area li:nth-child(11){/*diseño para noveno cuadrado*/
    left: 20%;
    width: 20px;
    height: 20px;
    animation-delay: 20s;
    animation-duration: 20s;
}
.box-area li:nth-child(12){/*diseño para noveno cuadrado*/
    left: 15%;
    width: 15px;
    height: 15px;
    animation-delay: 5s;
    animation-duration: 10s;
}
.box-area li:nth-child(13){/*diseño para noveno cuadrado*/
    left: 15%;
    width: 70px;
    height: 70px;
    animation-delay: 0s;
    animation-duration: 0s;
}
.box-area li:nth-child(14){/*diseño para noveno cuadrado*/
    left: 5%;
    width: 95px;
    height: 95px;
    animation-delay: 5s;
    animation-duration: 5s;
}
.box-area li:nth-child(15){/*diseño para noveno cuadrado*/
    left: 35%;
    width: 13px;
    height: 13px;
    animation-delay: 45s;
    animation-duration: 2s;
}
.box-area li:nth-child(16){/*diseño para noveno cuadrado*/
    left: 33%;
    width: 35px;
    height: 35px;
    animation-delay: 15s;
    animation-duration: 15s;
}
.box-area li:nth-child(17){/*diseño para noveno cuadrado*/
    left: 25%;
    width: 25px;
    height: 25px;
    animation-delay: 6s;
    animation-duration: 4s;
}
.box-area li:nth-child(18){/*diseño para noveno cuadrado*/
    left: 40%;
    width: 85px;
    height: 85px;
    animation-delay: 5s;
    animation-duration: 5s;
}
@keyframes animate{
    0%{
        transform: translateY(-1vh) rotate(0deg);
        opacity: 1;
    }
    25%{
        transform: translateY(-100vh) rotate(90deg);
        opacity: 1;
    }
    50%{
        transform: translateY(-40vh) rotate(180deg);
        opacity: 1;
    }
    100%{
        transform: translatey(-130vh) rotate(50000deg);/*hace los cuadrados rotar*/
        opacity: 0; /*define la visibilidad de los cuadrados*/
    }
}


.contenedor> :not(.visible) {/*diseño de elementos en contendero que no tengan la clase '.visible'*/
    display: none; /*no se desplegen*/
}

.contenedor {/*diseño de la clase '.contenedor'*/
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    font-size: 140px;
    margin: auto;
}

.incorrecto, .correcto, .listIncorrectas {/*diseño de las clases '.incorrecto','.correcto','.listIncorrectas'*/
    height: auto;
    width: auto;
    text-align: justify;
    font-size: 20%;
    margin: auto;
}


button { /*diseño de los elemntos 'button'*/
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: 30px;
    color:white;
    background: gray;
}

#btnNewWord{/*diseño de la clase '#btnNewWord'*/
    float: left;
    margin: 50px;
}
.box-area1{ /*diseño de la clase '.box-area1'*/
    padding-top: 50px;
    padding-bottom: 1%;
    position: absolute;
    top: 1.5%;
    left: 7%;
    width: 85%;
    height:85%;
    background-color:#82717196 ;
    overflow: auto;
    box-shadow: -23px 17px 39px 10px;
}
#palabra{ /*diseño del id '#palabra'*/
    color:#d0cece;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: .8em;
    word-break: break-all;
}

.incorrectas {/*diseño de la clase '.incorrectas'*/
    color: #d0cece;
    font-size: 100px;
}
.incorrectas p{ /*diseño del elementos p que tengan la clase '.incorrectas'*/
    font-size: 70px;
}
#puntaje{/*diseño del id '#puntaje'*/
    display: grid;
    grid-template-rows: 1fr 1fr;
    font-size: 259px;
    color: #d0cece;
}
#temp{ /*diseño del id '#tempo'*/
    font-size: 80px; 
    position: absolute;
    top: 70px;
    right: 70px; 
}
.titulo{
    font-size: 60px;
    color: #d0cece;
}